@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
       url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto';
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
  padding: 10px 250px 110px 250px;
  display: flex;
  flex-direction: column;
}

.upper-header {
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
}

.header a {
  text-decoration: none;
  font-size: 13px;
  color: #E5E7EB;
}

.hero-section {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-content .hero-title {
  font-size: 40px;
  color: #F9FAF8;
  font-weight: 900;
  margin-right: 30px;
}

.hero-content button {
  background-color: #3882F6;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  margin-top: 10px;
}

.hero-text {
  font-size: 16px;
  margin-top: 4px;
  color: #E5E7EB;
}

.hero-image {
  background-color: rgb(129, 129, 129);
  font-size: 13px;
  color: white;
  width: 660px;
  height: 190px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

.section-1 {
  padding: 10px 370px 70px 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1-header {
  padding: 10px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.illustration-containers {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: justify;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  gap: 7px;
}

.frame {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 5px;
  height: 125px;
  width: 125px;
}

.section-2 {
  display: flex;
  justify-items: center;
  background-color: #E5E7EB;
  padding: 100px 400px;
  flex-wrap: wrap;
  gap: 15px;
}

.section-2 .main-text {
  font-size: 25px;
  font-style: italic;
  font-weight: 200;
}
.section-2 #author {
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold
}

.container {
  margin: 70px 150px;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  color: white;
}

.right-side {
  margin-left: 200px;
}